body {
	background-color: #191919;
}

.top_left {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 50%;
	width: 50%;
}

.top_left:hover ~ .center {
	-webkit-filter: sepia(200%) saturate(1000%) brightness(80%) hue-rotate(-50deg);
	filter: sepia(200%) saturate(1000%) brightness(80%) hue-rotate(-50deg);
	transition: all 1s ease;
}

.top_right {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 50%;
	width: 50%;
}

.top_right:hover ~ .center {
	-webkit-filter: sepia(200%) saturate(1000%) brightness(60%) hue-rotate(-70deg);
	filter: sepia(200%) saturate(1000%) brightness(60%) hue-rotate(-70deg);
	transition: all 1s ease;
}

.bottom_left {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 50%;
	width: 50%;
}

.bottom_left:hover ~ .center {
	-webkit-filter: sepia(200%) saturate(1000%) brightness(80%) hue-rotate(180deg);
	filter: sepia(200%) saturate(1000%) brightness(80%) hue-rotate(180deg);
	transition: all 1s ease;
}

.bottom_right {
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 50%;
	width: 50%;
}

.bottom_right:hover ~ .center {
	-webkit-filter: sepia(200%) saturate(800%) brightness(80%) hue-rotate(40deg);
	filter: sepia(200%) saturate(800%) brightness(80%) hue-rotate(40deg);
	transition: all 1s ease;
}


.center {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -5vw;
	margin-left: -5vw;
	height: 10vw;
	width: 10vw;
	background-image: url("../images/icon.png");
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-filter: sepia(0%) saturate(0%) brightness(90%) hue-rotate(0deg);
	filter: sepia(0%) saturate(0%) brightness(90%) hue-rotate(0deg);
	transition: all 1s ease;
}

.center:hover {
	-webkit-filter: sepia(0%) saturate(0%) brightness(60%) hue-rotate(0deg);
	filter: sepia(0%) saturate(0%) brightness(60%) hue-rotate(0deg);
	transition: all 1s ease;
}
